.jumbotron#title {
    background-color: #f9e79f;
    margin-bottom: 0;
}

.jumbotron#no-margin {
    background-color: #f5b041;
    margin-top: 0;
    margin-bottom: 0;
}

.container-fluid#info-container {
    margin-top: 100px;
    margin-left: 100px
}

hr {
    border-color: rgba(0, 0, 0, 1);
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

hr.padding {
    border-width: medium;
    border-color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

#info-box {
    background-color: rgba(214, 234, 248, 0.8);
    margin-left: 50px;
}

#specialButton {
    background-color: #f39c12;
    margin-bottom: 10px;
}

.specialButton {
    background-color: #f39c12;
    margin-bottom: 10px;
}

.row {
    height: 100%;
}

#sidebar {
    background-color: white;
    overflow: hidden;
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: -100%;
}

#sidebar .noMargin {
    margin: 0 0 0 0;
}

.topMargin {
    margin-top: 10px;
}

#sidebar .header1 {
    background-color: #c0c0c0;
    border: 4px black solid;
    border-left: 0;
    border-right: 0;
}

.well.margin {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

.border {
    border: 4px black solid;
}

#sidebar {
    border-bottom: 0;
    border-left: 0;
}

.fullStretch {
    padding: 0px;
    margin-left: -100%;
    margin-right: -100%;
}

.header1 {
    background-color: grey;
}

.alignLeft {
    float: left;
}

#container h3 {
    position: absolute;
    top: 100%;
    left: 0;
}

.alignRight {
    float: right;
    padding-right: 5%;
}

.col-fixed-240 {
    width: 240px;
    background: red;
}

.col-fixed-160 {
    margin-left: 240px;
    width: 160px;
    background: blue;
    position: fixed;
}

.center-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.img-responsive.border {
    border: 2px solid;
}

#mainHeader {
    background-color: orange;
}

.borderTBR {
    border: 4px black solid;
    border-left: 0;
    border-right: 0;
}

.outerFrame {
    border: 4px black solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    overflow-y: scroll;
    height: 620px;
}

.outerFrame2 {
    border: 4px black solid;
    border-left: 0;
    border-bottom: 0;
    overflow-y: scroll;
    height: 750px;
}

.frame {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0;
    background-color: white;
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
}

.frame:hover {
    background-color: orange;
}

.frame.noHilight:hover {
    background-color: white;
}

.frame h3 {
    margin-top: 0px;
}

.thumbnail.border {
    border: 1px black solid;
}

.thumbnail.noBorder {
    border: 0;
}

.thumbnail.fixedHeight {}

.frame p {
    padding-right: 0px;
}

.frame .bg {
    background-color: gray;
}

.cropper {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.cropper img {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
}

.ingredients {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    border: 2px black solid;
    background-color: lightsalmon;
}

.ingredients .space {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ingredients button {
    margin-top: 20px;
    margin-bottom: 20px;
}

button.circle {
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 0 0 0 0px;
    border-radius: 13px;
    line-height: 0;
    position: absolute;
    bottom: 0px;
    right: 0%;
}

.foodImage {
    width: 100%;
}

#preparationRow {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
}

@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
}
.home-product {
    background:url("../images/Pizza.jpg");
    float: left;
    padding: 100px 0;
    width: 100%;
    color:#000 !important;
    min-height:641px;
    -webkit-animation: backgroundScroll 35s linear infinite;
    animation: backgroundScroll 10s linear infinite;
    background-size:130% 100%;
    background-position:top;
    background-attachment:fixed;

}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}